@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600 !important;
}
#dashname{
    height: 100%;
    width: 80%;
    max-width: 100%;
    text-align: center;
    margin: 3% 0% 0% 0% !important;
}
#fig1 .main-svg  {
    border-radius: 20px;

}
.js-plotly-plot .plotly .modebar-group  {
    height: 10%;
    width: 10%;
}

#fig2 .main-svg  {
    border-radius: 20px
}
#fig2{
margin: 0% 0% 3% 0%;
}

.rc-slider-step {
background: linear-gradient(
    to right,
    #a9faff,
    #27d0db);

    }
.card-body {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin: 3px 3px 3px 0px;

}
#normativi.normslider {
padding: 0% !important;
}

#kolichestvo_mest.mestaslider {
padding: 0% !important;
}
#prohodnoi_bal.balslider {
padding: 0% !important;
}
#card1.card{
    margin-top: 0.8%;
    margin-right: 1%;
    margin-bottom: 1%;
    margin-left: 11%;
}
#card2.card{
    margin-top: 0.8%;
    margin-right: 0px;
    margin-bottom: 1%;
    margin-left: 0px;
}
#card3.card{
    margin-top: 0.8%;
    margin-right: 11%;
    margin-bottom: 1%;
    margin-left: 1%;

}
.textarea{
    height: 30px;
    width: 43px;
    margin-top: 2%;
    margin-right: 4%;
    margin-bottom: 0%;
    margin-left: 0%;
    border-radius: 11px;
    background-color: #F9F9F9;
    border: none;
    padding: 0% !important;
    resize: none;
    outline: none;
    text-align: center;
    color: #5A4F4F;
    float:right;
    position: absolute;
    right: 0;
    font-size: 14px;
}
#text1.card-text{
    height: 30px;
    width: 250px;
    margin: 2% 0% 3% 3% !important;
    padding: 0% !important;
}
#text2.card-text{
    height: 30px;
    width: 250px;
    margin: 2% 0% 3% 3% !important;
    padding: 0% !important;
}
#text3.card-text{
    height: 30px;
    width: 250px;
    margin: 2% 0% 3% 3% !important;
    padding: 0% !important;

}
.container{
padding: 0% !important;]
}
#text{
    outline: none;
    text-align: start;
    border-radius: 11px;
    border: none;
    font-family: Open Sans;
    margin: 3% 0% 3% 0% !important;
    font-weight: 600;
    resize: none;

}

.txta {
  width: 600;
  font-size: 16px;
  overflow: hidden;
  line-height: 1.4;
}

#text-container{
background-color: ##323436 !important;
}